.blog-content {
    max-width: 1100px;
    margin: 0 auto;
    line-height: 3;
    font-size: 18px;
    padding-top: 9rem;
}

.title-blog {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.title-blog h1 {
    font-size: 5rem;
}

@media (max-width: 480px) {
    .blog-content h1 {
        line-height: 1.1; /* Reduce el espacio entre líneas */
        text-align: center; /* Por si quieres centrar en móviles también */
    }
}

.blog-loader {
    display: flex;
    justify-content: center;
    margin: 2rem auto;
}

/* HTML: <div class="loader"></div> */
.loader {
    height: 9px;
    width: 60px;
    --c:no-repeat linear-gradient(var(--acentLight) 0 0);
    background: var(--c), var(--c), var(--c), var(--c);
    background-size: 26% 3px;
    animation: l2 3s infinite;
}
body.dark-mode .loader {
    --c:no-repeat linear-gradient(var(--acentDark) 0 0);
    background: var(--c), var(--c), var(--c), var(--c);
    background-size: 26% 3px;
}
@keyframes l2 {
    0%,
    70%,
    100% {background-position: calc(0*100%/3) 100%,calc(1*100%/3) 100%,calc(2*100%/3) 100%,calc(3*100%/3) 100%}
    14%  {background-position: calc(0*100%/3) 0   ,calc(1*100%/3) 100%,calc(2*100%/3) 100%,calc(3*100%/3) 100%}
    28%  {background-position: calc(0*100%/3) 100%,calc(1*100%/3) 0   ,calc(2*100%/3) 100%,calc(3*100%/3) 100%}
    42%  {background-position: calc(0*100%/3) 100%,calc(1*100%/3) 100%,calc(2*100%/3) 0   ,calc(3*100%/3) 100%}
    56%  {background-position: calc(0*100%/3) 100%,calc(1*100%/3) 100%,calc(2*100%/3) 100%,calc(3*100%/3) 0   }
}

.article {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
}

.article .image-article {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: flex;
    align-self: center;
    margin: 2.5rem;
}

.blog-content h1 {
    display: flex;
    justify-content: center;
}

body.dark-mode .blog-content h1 {
    color: var(--textDark);
}

.blog-content h2 {
    display: flex;
    justify-content: start;
    color: var(--textLight);
}

body.dark-mode .blog-content h2 {
    color: var(--textDark);
}

.blog-content h3 {
    display: flex;
    justify-content: start;
    color: var(--textLight);
}

body.dark-mode .blog-content h3 {
    color: var(--textDark);
}

.blog-content p {
    font-size: 1.6rem;
    color: var(--textLight);
    line-height: 1.6;
    margin: .5rem;
}

body.dark-mode .blog-content p {
    color: var(--textDark);
}

.info-blog {
    display: flex;
    justify-content: space-evenly;
}

.blog-tag {
    display: flex;
    justify-content: center;  /* Centrar los elementos */
    gap: 20px; /* Espaciado entre elementos */
    align-items: center; /* Asegurar alineación vertical */
}

.info-blog {
    display: flex;
    align-items: center; /* Centrar verticalmente icono y texto */
}

.detail {
    display: flex;
    align-items: center; /* Centrar el icono y el texto */
    gap: 8px; /* Espaciado entre icono y texto */
}

.detail i {
    font-size: 16px; /* Tamaño de icono */
    color: var(--primaryLight); /* Cambia el color si deseas */
}

p {
    margin: 0; /* Eliminar margen predeterminado del párrafo */
    font-size: 14px;
}


.fa-solid,
.fa-regular {
    display: flex;
}

.quote-box {
    color: var(--textLight);  /* Color del texto */
    padding: 1.5rem;
    border-left: 4px solid var(--primaryLight); /* Borde verde en la izquierda */
    border-radius: 6px;  /* Bordes redondeados */
    background-color: var(--opacitySLight);
}
body.dark-mode .quote-box {
    border-left: 4px solid var(--primaryDark); /* Borde verde en la izquierda */
    background-color: var(--opacitySDark);
}

.italic {
    font-style: italic; /* Texto en cursiva */
    color: var(--primaryLight); /* Color verde para destacar */
}

.image-container {
    display: flex; /* Coloca las imágenes en fila */
    justify-content: center; /* Centra las imágenes horizontalmente */
    gap: 10px; /* Espaciado entre las imágenes */
    margin-top: 1rem;
    margin-block-end: 1rem;
}

.image-container img {
    width: 48%; /* Ajusta el ancho de cada imagen */
    object-fit: cover; /* Evita distorsión si el tamaño cambia */
}

.tag-container {
    display: flex; /* Coloca los elementos en fila */
    gap: 10px; /* Espacio entre los botones */
    justify-content: flex-start; /* Centra los botones */
    -webkit-box-pack: center;
    margin-top: 4rem;
    margin-block-end: 1rem;
}

.tag {
    display: inline-flex; /* Hace que se ajusten al contenido */
    align-items: flex-start; /* Alineación vertical */
    padding: 1px 15px; /* Espaciado interno */
    border: 2px solid var(--primaryLight); /* Borde verde */
    border-radius: 5px;
    color: var(--primaryLight); /* Texto verde */
    font-size: 14px;
    font-weight: bold;
    text-transform: lowercase;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    white-space: nowrap;
}

@media (max-width: 480px) {
    .tag-container {
        gap: 6px;
        flex-wrap: wrap; /* permite que se ajusten si no entran en una sola línea */
        justify-content: center; /* centra los botones en pantallas pequeñas */
    }

    .tag {
        font-size: 12px;
        padding: 4px 8px;
    }
}

.tag:hover {
    background-color: var(--primaryLight);
    color: var(--opacitySLight);
}

.blog-social {
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos */
    gap: 2rem; /* Espacio entre los iconos */
}

/* HTML: <div class="loader"></div> */
.loader-share {
    height: 3px;
    width: 60px;
    background: linear-gradient(var(--textLight) 0 0) right/51% 100% no-repeat;
    display: flex;
    animation: l10-0 4s linear infinite;
}
body.dark-mode .loader-share {
    background: linear-gradient(var(--opacityPDark) 0 0) right/51% 100% no-repeat;
}
.loader-share:before,
.loader-share:after {
    content: "";
    width: 15px;
    background: var(--acentLight);
    animation: l10-1 2s linear infinite;
}
body.dark-mode .loader-share:before {
    background-color: var(--acentDark);
}

body.dark-mode .loader-share:after {
    background-color: var(--acentDark);
}

.loader-share:after {
    animation-delay: -1s;
    --s:-1;
}
@keyframes l10-1 {
    0%,100%{transform:scaleX(var(--s,1)) rotate(0)}
    25%,75%   {transform:scaleX(var(--s,1)) rotate(180deg)}
}

@keyframes l10-0 {
    0%,49.9%{transform:scaleX( 1)}
    50%,100%{transform:scaleX(-1)}
}

.blog-social .fab {
    color: var(--textLight);
}

body.dark-mode .blog-social .fab {
    color: var(--textDark);
}

.blog-social .fa-brands {
    color: var(--textLight);
}

body.dark-mode .blog-social .fa-brands {
    color: var(--textDark);
}

.blog-social .fa-regular {
    color: var(--textLight);
}

body.dark-mode .blog-social .fa-regular {
    color: var(--textDark);
}

.blog-social .fab:hover {
    color: var(--primaryLight);
    transform: scale(1.2);
}

body.dark-mode .blog-social .fab:hover {
    color: var(--primaryDark);
    transform: scale(1.2);
}

.blog-social .fa-brands:hover {
    color: var(--primaryLight);
    transform: scale(1.2);
}

body.dark-mode .blog-social .fa-brands:hover {
    color: var(--primaryDark);
    transform: scale(1.2);
}

.blog-social .fa-regular:hover {
    color: var(--primaryLight);
    transform: scale(1.2);
}

body.dark-mode .blog-social .fa-regular:hover {
    color: var(--primaryDark);
    transform: scale(1.2);
}

.hr-blog {
    color: var(--opacitySLight);
    margin-block-end: 1.5rem;
}

.prev-container_blog1 {
    display: flex;
    justify-content: end; /* Separa a los extremos */
    align-items: flex-start;
    margin-top: 2rem;
    gap: 20px;
}

.prev-container_blog2 {
    display: flex;
    justify-content: space-between; /* Separa a los extremos */
    align-items: flex-start;
    margin-top: 2rem;
    gap: 20px;
}

.prev, .next {
    max-width: 45%;
}

.prev-link,
.next-link {
    display: block;
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--primaryLight);
}

.blog-social span {
    display: none;
    margin-left: 1rem;
    color: var(--acentLight);
}

body.dark-mode .blog-social span {
    display: none;
    margin-left: 1rem;
    color: var(--acentDark);
}

@media (max-width: 480px) {
    .prev-container h3 {
        display: none;
    }
}

body.dark-mode .prev-link, .next-link {
    color: var(--primaryDark);
}

.next-link {
    display: flex;
    justify-content: flex-end; /* Alinea a la derecha */
}

.title-previous, .title-next {
    font-size: 20px;
    font-weight: bold;
    margin-top: -25px;
}

@media (max-width: 480px) {
    .prev-container_blog2 .prev h3 {
        display: none;
    }
}
@media (max-width: 480px) {
    .prev-container_blog2 .next h3 {
        display: none;
    }
}

@media (max-width: 480px) {
    .next .title-next {
        display: none;
    }
}