@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    /* Light Theme Color */
    --textLight: #06130e;
    --backgroundLight: #f7fdfc;
    --primaryLight: #44C59F;
    --opacityPlight: #d8f3e9;
    --secondaryLight: #96A9DF;
    --opacitySLight: #ebeff9;
    --acentLight: #75aaff;

    /* Dark Theme color */
    --textDark: #ecf9f4;
    --backgroundDark: #020807;
    --primaryDark: #3abb94;
    --opacityPDark: #0c271f;
    --secondaryDark: #203469;
    --opacitySDark: #060a14;
    --acentDark: #0db1fd;

}

*{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
            "wdth" 100;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
           -o-transition: all 0.2s linear;
                transition: all 0.2s linear;
}

*::selection{
    color: var(--backgroundLight);
    background-color: var(--primaryLight);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

body{
    background-color: var(--backgroundLight);
}
/* Modo oscuro */
body.dark-mode{
    background-color: var(--backgroundDark);
}

section{
    padding: 2rem 5%;
}

::-webkit-scrollbar{
    width: 0.8rem;
}

::-webkit-scrollbar-thumb{
    border-radius: 1rem;
    background-color: var(--primaryLight);
}

::-webkit-scrollbar-track{
    background-color: var(--backgroundLight);
}

.swiper-pagination-bullet{
    height: 1rem;
    width: 1rem;
    border-radius: 50rem;
    background-color: var(--primaryLight);
}

.swiper-pagination-bullet-active{
    width: 3rem;
    background: var(--primaryLight);
}

/*--------------------- 0- Global CSS (End) ---------------------*/



/*--------------------- 1- Heading CSS (Start) ---------------------*/
.heading{
    margin-bottom: 2rem;
}

.heading h2{
    text-align: center;
    padding-bottom: 2rem;
    color: var(--textLight);
    font-size: 4rem;
}

body.dark-mode .heading h2{
    color: var(--textDark);
}

.heading h2 span{
    position: relative;
    z-index: 0;
    color: var(--textLight);
}

body.dark-mode .heading h2 span{
    color: var(--textDark);
}

.heading h2 span::before{
    content: '';
    position: absolute;
    bottom: -0.5rem; left: 0;
    z-index: -1;
    background: var(--acentLight);
    height: 0.2rem;
    width: 80%;
    margin-left: 10%;
}

body.dark-mode .heading h2 span::before{
    background: var(--acentDark);
}

.navbar{
    border-right-style: solid;
    border-right-width: 0px;
    padding-right: 140px;
}

/*--------------------- 1- Heading CSS (End) ---------------------*/



/*--------------------- 2- Button CSS (Start) ---------------------*/
.btn{
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1.8rem;
    color: var(--primaryLight);
    background-color: transparent;
    border: 0.2rem solid var(--primaryLight);
    border-radius: 1.5rem;
}

.btn i{
    padding-left: 1rem;
}

.btn:hover{
    color: var(--textLight);
    background-color:  var(--primaryLight);
    cursor: pointer;
    border: 0.2rem solid var(--primaryLight);
}
/*--------------------- 2- Button CSS (End) ---------------------*/



/*--------------------- 3- Header Area CSS (Start) ---------------------*/
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: transparent;
    -webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
            transition: all 0.5s linear;
    z-index: 999;
}

.header.sticky{
    border-bottom: 0.1rem solid var(--textLight);
    background-color: var(--backgroundLight);
    backdrop-filter: blur(1.5rem);
}

body.dark-mode .header.sticky {
    border-bottom: 0.1rem solid var(--textDark);
    background-color: var(--textLight);
    backdrop-filter: blur(1.5rem);
}

.header .logo img{
    height: 5rem;
}

.logo-dark {
    display: none;
}

body.dark-mode .logo-light {
    display: none;
}

body.dark-mode .logo-dark {
    display: block;
}

header .navbar a{
    color: var(--textLight);
    font-size: 1.8rem;
    margin-left: 1rem;
}

body.dark-mode .navbar a{
    color: var(--textDark);
}

header .navbar a:hover,
header .navbar a.active{
    color: var(--primaryLight);
}

header #menu-btn{
    font-size: 3rem;
    color: var(--textLight);
    cursor: pointer;
    -webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
            transition: all 0.5s linear;
    display: none;
}

header .fa-times{
    -webkit-transform: rotate(180deg);
             transform: rotate(180deg);
}

header #menu-btn:hover{
    color: var(--primaryLight);
}

body.dark-mode header #menu-btn:hover {
    color: var(--secondaryDark);
}

/*--------------------- 3- Header Area CSS (End) ---------------------*/

/*--------------------- Dark - Light mode (Start) ---------------------*/
.toggle {
    background-color: var(--backgroundLight);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    cursor: pointer;
    box-shadow: 0 0 50px 20px rgba(0, 0, 0, .1);
    line-height: 1;
}

.input {
    display: none;
}

.icon {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    transition: transform 500ms;
}

.icon--moon {
    transition-delay: 200ms;
}

.icon--sun {
    transform: scale(0);
}

#switch:checked + .icon--moon {
    transform: rotate(360deg) scale(0);
}

#switch:checked ~ .icon--sun {
    transition-delay: 200ms;
    transform: scale(1) rotate(360deg);
}
/*--------------------- Dark - Light mode (Start) ---------------------*/

/*--------------------- SideBar Area (Start) ---------------------*/
#sidebar {
    position: fixed;
    left: 0;
    width: 70px;
    height: 100vh;
    background-color: transparent;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
    transition: all 0.3s ease-in-out;
}

.follow-me {
    writing-mode: vertical-rl;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    color: var(--textLight);
    font-size: 1.5rem;
}

.follow-me p {
    margin: 0;
    font-size: 2rem;
}

body.dark-mode .follow-me p {
    color: var(--textDark);
}

.separator {
    display: flex;
    height: 7.5rem;
    background-color: var(--textLight);
    margin: 30px 10px 10px 10px;
    align-items: flex-start;
}

#sidebar a {
    text-decoration: none;
    margin-bottom: 15px;
    transition: transform 0.3s ease;
}

#sidebar i {
    color: var(--textLight);
    font-size: 2rem;
}

body.dark-mode #sidebar i {
    color: var(--textDark);
}

#sidebar a:hover i {
    color: var(--primaryLight);
    transform: scale(1.2);
}
/*--------------------- SideBar Area (End) ---------------------*/

.cursor{
    height: 50px;
    width: 50px;
    background: transparent;
    border-radius: 50%;
    pointer-events: none;
    border: 1px solid var(--primaryDark);
    position: fixed;
    z-index: 10;
    top: -25px;
    left: -25px;
    opacity:1;
    overflow: hidden;
    font-family: brook;
    text-align: center;
    color:var(--textLight);
    font-size: 16px;
}
.cursor-two{
    height: 8px;
    width: 8px;
    background: var(--acentDark);
    border-radius: 50%;
    pointer-events: none;
    position: fixed;
    z-index: 10;
    opacity:1;
    top: -4px;
    left: -4px;
    transition: all .05s ease;
}

#particles{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    background-size: cover;
    background-position: 50% 50%;
    display: block;
}

/*--------------------- 4- Home Area CSS (Start) ---------------------*/
.home{
    padding: 0rem 5%;
    min-height: 100vh;
}

.home .box-container{
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 4rem;
}

.home. image{
    text-align: center;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40rem;
            flex:  1 1 40rem;
}

.home .image img{
    border-radius: 70% 70% 70% 70% / 30% 30% 70% 70% ;
    object-fit: cover;
    position: absolute;
    height: 450px;
    width: 450px;
    background-size: cover;
    margin: 4.5rem;
}

.home .content{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 40rem;
        flex: 1 1 40rem;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    margin-top: 7rem;
}

.home .content h2{
    font-size: 2.5rem;
    font-weight: 400;
    color: var(--textLight);
}

.home .content h1{
    font-size: 4rem;
    color: var(--textLight);
    padding: 1rem 0;
    text-transform: none;
}

body.dark-mode .home .content h1 {
    color: var(--textDark);
}

body.dark-mode .home .content h2 {
    color: var(--textDark);
}

.home .content h1 span{
    color: var(--acentLight);
}

body.dark-mode .home .content h1 span {
    color: var(--acentDark);
}

.home .content p{
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--textLight);
    padding-bottom: 2rem;
    line-height: 1.5;
}

body.dark-mode .home .content p {
    color: var(--textDark);
}

/*---------------  CIRCLE ANIMATION (START)  ---------------*/
.animation-circle{
    position: relative;
}

.profile{
    top: 100px;
    height: 550px;
    width: 550px;
    background-size: cover;
}

.circle {
    position: relative;
    top: 350px;
    left: 220px;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    animation: animationCircle 40s linear infinite;
}

.background-circle{
    background: var(--opacitySLight);
    border-radius: 50%;
    width: 450px;
    height: 450px;
    z-index: 9;
    box-shadow: 0 0 20px var(--textLight);
    margin-left: 4.5rem;
    margin-top: -4rem;
}

body.dark-mode .background-circle {
    background: var(--opacitySDark);
    box-shadow: 0 0 20px var(--acentDark);
}

.circle span {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7); /* Icons color Circle*/
    box-shadow: 0 0 10px var(--textLight);
    border-radius: 50%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * calc(-360deg / 19))) translateZ(310px); /* Icons Numbers*/
}

body.dark-mode .circle span {
    background-color: rgba(36, 36, 36, 0.7);
}

.circle span img {
    position: relative;
    top: 12px;
    left: 12px;
    object-fit: cover;
}

@keyframes animationCircle {
    0% {
        transform: perspective(1000px) rotateY(0deg) rotateX(15deg)
        translateY(-30px);
    }
    100% {
        transform: perspective(1000px) rotateY(360deg) rotateX(15deg)
        translateY(-30px);
    }
}

/*---------------  CIRCLE ANIMATION (END)  ---------------*/
/*--------------------- 4- Home Area CSS (End) ---------------------*/

/* From Uiverse.io by mrhyddenn */
.scrolldown {
    --sizeX: 30px;
    --sizeY: 50px;
    position: relative;
    width: var(--sizeX);
    height: var(--sizeY);
    margin-left:var(--sizeX) / 2;
    border: calc(var(--sizeX) / 10) solid var(--primaryLight);
    border-radius: 50px;
    box-sizing: border-box;
    margin-bottom: -700px;
    cursor: pointer;
}

body.dark-mode .scrolldown {
    border: calc(var(--sizeX) / 10) solid var(--primaryDark);
}

.scrolldown::before {
    content: "";
    position: absolute;
    bottom: 30px;
    left: 50%;
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: var(--acentLight);
    border-radius: 100%;
    animation: scrolldown-anim 2s infinite;
    box-sizing: border-box;
    box-shadow: 0px -5px 3px 1px var(--secondaryLight);
}

body.dark-mode .scrolldown::before {
    background-color: var(--acentDark);
    box-shadow: 0px -5px 3px 1px var(--secondaryDark);
}

@keyframes scrolldown-anim {
    0% {
        opacity: 0;
        height: 6px;
    }

    40% {
        opacity: 1;
        height: 10px;
    }

    80% {
        transform: translate(0, 20px);
        height: 10px;
        opacity: 0;
    }

    100% {
        height: 3px;
        opacity: 0;
    }
}

.chevrons {
    padding: 6px 0 0 0;
    margin-left: -3px;
    margin-top: 48px;
    width: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chevrondown {
    margin-top: -6px;
    position: relative;
    border: solid var(--color);
    border-width: 0 3px 3px 0;
    display: inline-block;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
}

.chevrondown:nth-child(odd) {
    animation: pulse54012 500ms ease infinite alternate;
}

.chevrondown:nth-child(even) {
    animation: pulse54012 500ms ease infinite alternate 250ms;
}

@keyframes pulse54012 {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.5;
    }
}

/*--------------------- 5- About Area CSS (Start) ---------------------*/
.about{
    background-image: url("/assets/images/Backgrounds/Light/resume.svg");
    background-size: cover;
    background-position: center 1px;
    background-repeat: no-repeat;
    min-height: 300px;   /* Asegura que el fondo sea visible */
}

body.dark-mode .about {
    background-image: url("/assets/images/Backgrounds/dark/resumeDark.svg");
}

.about .box-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem 0;
}

.about .image{
    width: 32rem;
    text-align: center;
}

.about .image img{
    width: 100%;
    border: 1rem solid var(--primaryLight);
}

body.dark-mode .about .image img {
    border: 1rem solid var(--primaryDark);
}

.about .content{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 55rem;
    flex: 1 1 55rem;
}

.about .content h2{
    font-size: 3rem;
    color: var(--textLight);
    padding-bottom: 1rem;
}

body.dark-mode .about .content h2{
    color: var(--textDark);
}

.about .content > p{
    font-size: 1.6rem;
    color: var(--textLight);
    line-height: 1.6;
    padding-bottom: 1rem;
}

body.dark-mode .about .content p {
    color: var(--textDark);
}

.about .content .about-info{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 1rem;
}

.about .content .about-info .info{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 15rem;
    flex: 1 1 15rem;
}

.about .content .about-info .info h4{
    font-size: 1.6rem;
    color: var(--textLight);
    padding-bottom: 1rem;
}

body.dark-mode .about .content .about-info .info h4 {
    color: var(--textDark);
}

.about .content .about-info .info span{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--textLight);
}

body.dark-mode .about .content .about-info .info span{
    color: var(--textDark);
}

.about .content .about-info .info .btn{
    margin-top: 1rem;
}

.counting{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 35rem;
    flex: 1 1 35rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 1rem;
}

.counting .box{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 18rem;
    flex: 1 1 18rem;
    text-align: center;
    background-color: var(--opacityPlight);
    padding: 2rem;
}

body.dark-mode .counting .box {
    background-color: var(--opacityPDark);
}

.counting .box .count{
    font-size: 3.5rem;
    color: var(--primaryLight);
    padding-bottom: 0.5rem;
}

body.dark-mode .box .count {
    color: var(--primaryDark);
}

.counting .box h3{
    font-size: 1.8rem;
    color: var(--textLight);
}

body.dark-mode .counting .box h3 {
    color: var(--textDark);
}

.skill-container{
    padding: 2rem 0;
}

.skills{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.skill-item{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 30rem;
    flex: 1 1 30rem;
    margin-right: 1.5rem;
}

.skill-item .box{
    padding:1rem 0;
}

.skill-item .box h3{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding:.7rem 0;
    font-size: 1.7rem;
    color: var(--textLight);
    font-weight: 400;
}

body.dark-mode .skill-item .box h3 {
    color: var(--textDark);
}

.skill-item .box .progress-bar{
    width:100%;
    background:var(--opacitySLight);
    overflow:hidden;
    height:1rem;
    border-radius: 50rem;
}

body.dark-mode .skill-item .box .progress-bar {
    background:var(--opacitySDark);
}

.skill-item .box .progress-bar span{
    display:block;
    height:100%;
    background: var(--primaryLight);
}

body.dark-mode .skill-item .box .progress-bar span {
    background: var(--primaryDark);
}

.skill-item.item1 .box:nth-child(1) .progress-bar span{
    width:90%;
}

.skill-item.item1 .box:nth-child(2) .progress-bar span{
    width:80%;
}

.skill-item.item1 .box:nth-child(3) .progress-bar span{
    width:85%;
}

.skill-item.item2 .box:nth-child(1) .progress-bar span{
    width:75%;
}

.skill-item.item2 .box:nth-child(2) .progress-bar span{
    width:65%;
}

.skill-item.item2 .box:nth-child(3) .progress-bar span{
    width:60%;
}

/*--------------------- 5- About Area CSS (End) ---------------------*/



/*--------------------- 6- Qualification Area CSS (Start) ---------------------*/

.qualification{
    background-image: url('/assets/images/Backgrounds/Light/qualification.svg');
    background-size: cover;
    background-position: center 1px;
    background-repeat: no-repeat;
    min-height: 300px;   /* Asegura que el fondo sea visible */
}

body.dark-mode .qualification {
    background-image: url('/assets/images/Backgrounds/dark/qualificationDark.svg');
}

.qualification .box-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 4rem;
}

.education, .experience{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 40rem;
        flex: 1 1 40rem;
}

.experience-item{
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 40rem;
        flex: 1 1 40rem;
    padding: 0 3rem 2rem 3rem;
    border-left: 0.2rem solid var(--acentLight);
    margin-left: 2rem;
}

body.dark-mode .experience-item {
    border-left: 0.2rem solid var(--acentDark);
}

.experience-item i{
    position: absolute;
    top: 0;
    left: -2.5rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color: var(--backgroundLight);
    background: var(--acentLight);
}

body.dark-mode .experience-item i {
    color: var(--backgroundDark);
    background: var(--acentDark);
}

.experience-item .content{
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    border-left: 2rem;
}

.experience-item span{
    background: var(--opacitySLight);
    color: var(--textLight);
    padding: 0.5rem 1.5rem;
    font-size: 1.8rem;
    border-radius: 50rem;
}

body.dark-mode .experience-item span {
    background: var(--opacitySDark);
    color: var(--textDark);
}

.experience-item h3{
    font-size: 3.5rem;
    color: var(--textLight);
    padding: 2rem 0;
}

body.dark-mode .experience-item h3 {
    color: var(--textDark);
}

.experience-item p{
    color: var(--textLight);
    font-size: 1.6rem;
    line-height: 2.5rem;
}

body.dark-mode .experience-item p {
    color: var(--textDark);
}
/*--------------------- 6- Qualification Area CSS (End) ---------------------*/



/*--------------------- 7- Services Area CSS (Start) ---------------------*/

.service{
    background-image: url("/assets/images/Backgrounds/Light/services.svg");
    background-size: cover;
    background-position: center 1px;
    background-repeat: no-repeat;
    min-height: 300px;   /* Asegura que el fondo sea visible */
}

body.dark-mode .service{
    background-image: url("/assets/images/Backgrounds/dark/servicesDark.svg");
}

.service .box-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.service-item{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 35rem;
        flex: 1 1 35rem;
    background-color: var(--opacityPlight);
    padding: 4rem 3rem;
    text-align: center;
    border: 0.1rem solid rgba(255, 255, 255, 0.3);
    border-radius: 0.5rem;
    -webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
            -o-transition: all 0.5s linear;
                transition: all 0.5s linear;
}

body.dark-mode .service-item {
    background-color: var(--opacityPDark);
}

.service-item:hover{
    background-color: var(--opacitySLight);
}

body.dark-mode .service-item:hover {
    background-color: var(--opacitySDark);
}

.service-item i{
    color: var(--primaryLight);
    font-size: 4rem;
}

body.dark-mode .service-item i {
    color: var(--primaryDark);
}

.service-item h3{
    font-size: 2rem;
    color: var(--textLight);
    padding: 1.5rem 0;
}

body.dark-mode .service-item h3 {
    color: var(--textDark);
}

.service-item p{
    font-size: 1.6rem;
    color: var(--textLight);
    line-height: 1.6;
}

body.dark-mode .service-item p {
    color: var(--textDark);
}

.service-item:hover i{
    color: var(--primaryLight);
}

.service-item:hover h3{
    color: var(--textLight);
}

.service-item:hover p{
    color: var(--textLight);
}

/*--------------------- 7- Services Area CSS (End) ---------------------*/



/*--------------------- 8- Portfolio Area CSS (Start) ---------------------*/

.portfolio{
    background-image: url("/assets/images/Backgrounds/Light/portfolio.svg");
    background-size: cover;
    background-position: center 1px;
    background-repeat: no-repeat;
    min-height: 300px;   /* Asegura que el fondo sea visible */
}

body.dark-mode .portfolio{
    background-image: url("/assets/images/Backgrounds/dark/portfolioDark.svg");
}

.controls{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style-type: none;
    margin-top: 2rem;
}

.controls .button{
    cursor: pointer;
    margin: 0.5rem;
}

.controls .button.active{
    cursor: pointer;
    background-color: var(--primaryLight);
    color: var(--backgroundLight);
}

.portfolio .box-container{
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(33rem, 1fr));
    gap: 0.5rem;
    padding: 2rem 0;
}

.portfolio-item{
    border-radius: 0.5rem;
    height: 25rem;
    overflow: hidden;
    position: relative;
}

.portfolio-item img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.portfolio-item .content{
    content: '';
    position: absolute;
    top: 10%;
    left: 10%;
    height: 80%;
    width: 80%;
    border-radius: 0.5rem;
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--primaryLight);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: scale(0) ;
            transform: scale(0);
}

.portfolio-item .content h4{
    font-size: 2rem;
    font-weight: bold;
    color: var(--primaryLight);
    transform-origin: top;
    -webkit-transform: translateY(-10rem);
            transform: translateY(-10rem);
    opacity: 0;
    padding-bottom: 1rem;
    -webkit-transition: all 0.4s linear;
        -moz-transition: all 0.4s linear;
            -o-transition: all 0.4s linear;
                transition: all 0.4s linear;
}

.portfolio-item .content p{
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--backgroundLight);
    transform-origin: top;
    -webkit-transform: translateY(-10rem);
            transform: translateY(-10rem);
    opacity: 0;
    -webkit-transition: all 0.4s linear;
        -moz-transition: all 0.4s linear;
            -o-transition: all 0.4s linear;
                transition: all 0.4s linear;
}

.portfolio-item .content .view-btn{
    font-size: 2rem;
    color: var(--primaryLight);
    transform-origin: top;
    -webkit-transform: translateY(-10rem);
            transform: translateY(-10rem);
    opacity: 0;
    -webkit-transition: all 0.4s linear;
        -moz-transition: all 0.4s linear;
            -o-transition: all 0.4s linear;
                transition: all 0.4s linear;
    border-radius: 5rem;
    margin-top: 1.5rem;
}

.portfolio-item:hover .content{
    -webkit-transform: scale(1);
            transform: scale(1);
}

.portfolio-item:hover .content h4{
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
}

.portfolio-item:hover .content p{
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
}

.portfolio-item:hover .content .view-btn{
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
}

.portfolio-item:hover img{
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
}

/*CSS3 Animation Effects for Magnific Popup*/

/* start state */
.mfp-newspaper .mfp-with-anim{
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

    -webkit-transform: scale(0) rotate(500deg);
    transform: scale(0) rotate(500deg);
}
.mfp-newspaper.mfp-bg {
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

/* animate in */
.mfp-newspaper.mfp-ready .mfp-with-anim {
    opacity: 1;
    -webkit-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
}
.mfp-newspaper.mfp-ready.mfp-bg {
    opacity: 0.8;
}

/* animate out */
.mfp-newspaper.mfp-removing .mfp-with-anim {
    -webkit-transform: scale(0) rotate(500deg);
    transform: scale(0) rotate(500deg);
    opacity: 0;
}
.mfp-newspaper.mfp-removing.mfp-bg {
    opacity: 0;
}
/*--------------------- 8- Portfolio Area CSS (End) ---------------------*/



/*--------------------- 9- Testimonials Area CSS (Start) ---------------------*/

.testimonial{
    background-image: url("/assets/images/Backgrounds/Light/testimonials.svg");
    background-size: cover;
    background-position: center 1px;
    background-repeat: no-repeat;
    min-height: 300px;   /* Asegura que el fondo sea visible */
}

body.dark-mode .testimonial {
    background-image: url("/assets/images/Backgrounds/Dark/testimonialsDark.svg");
}

.testimonial-slider{
    position: relative;
    padding-bottom: 4rem;
    overflow: hidden;
}

.test-item{
    text-align: center;
    border: 0.1rem solid var(--opacityPlight);
    border-radius: 0.5rem;
    padding: 4rem 2rem;
    background-color: var(--opacitySLight);
}

body.dark-mode .test-item {
    border: 0.1rem solid var(--opacitySDark);
    background-color: var(--opacitySDark);
}

.test-item:hover{
    border-color: var(--textLight);
}

body.dark-mode .test-item:hover {
    border-color: var(--textDark);
}

.test-item img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    border: 0.5rem solid var(--textLight);
}

body.dark-mode .test-item img {
    border: 0.5rem solid var(--textDark);
}

.test-item .fa-quote-left{
    display: block;
    font-size: 3rem;
    color: var(--acentLight);
    margin: 1rem 0;
}

body.dark-mode .test-item .fa-quote-left {
    color: var(--acentDark);
}

.test-item p{
    color: var(--textLight);
    font-size: 1.5rem;
    line-height: 1.5;
}

body.dark-mode .test-item p {
    color: var(--textDark);
}

.test-item .intro{
    margin: 1rem 0;
}

.test-item .intro h3{
    font-size: 2rem;
    color: var(--textLight);
    padding-bottom: 0.5rem;
}

body.dark-mode .test-item .intro h3 {
    color: var(--textDark);
}

.test-item .intro h5{
    color: var(--acentLight);
    font-size: 1.4rem;
    font-weight: 400;
}

body.dark-mode .test-item .intro h5 {
    color: var(--acentDark);
}
/*--------------------- 9- Testimonials Area CSS (End) ---------------------*/



/*--------------------- 10- Blog Area CSS (Start) ---------------------*/

.blog {
    background-image: url("/assets/images/Backgrounds/Light/blog.svg");
    background-size: cover;
    background-position: center 1px;
    background-repeat: no-repeat;
    min-height: 300px;   /* Asegura que el fondo sea visible */
}

body.dark-mode .blog {
    background-image: url("/assets/images/Backgrounds/dark/blogDark.svg");
}

.blog-slider{
    position: relative;
    padding-bottom: 4rem;
    overflow: hidden;
}

.blog-item{
    background-color: var(--opacityPlight);
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    overflow: hidden;
}

.blog-item .image{
    height: 35rem;
    overflow: hidden;
}

.blog-item:hover .image img{
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
}

.blog-item .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.blog-item .content{
    padding: 2rem 1rem;
}

body.dark-mode .blog-item .content {
    background-color: var(--opacityPDark);
}

.blog-item .content .intro{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 0.2rem solid var(--secondaryLight);
    padding: 1rem 0;
    margin-bottom: 1.5rem;
}

body.dark-mode .blog-item .content .intro {
    border-bottom: 0.2rem solid var(--acentDark);
}

.blog-item .content .intro h5{
    font-size: 1.5rem;
}

.blog-item .content .intro h5 i{
    color: var(--acentLight);
    padding-right: 0.5rem;
}

body.dark-mode .blog-item .content .intro h5 i {
    color: var(--acentDark);
}

.blog-item .content .intro h5 span{
    color: var(--textLight);
}

body.dark-mode .blog-item .content .intro h5 span {
    color: var(--textDark);
}

.blog-item .content .main-heading{
    font-size: 2rem;
    font-weight: bold;
    color: var(--textLight);
}

body.dark-mode .blog-item .content .main-heading{
    color: var(--textDark);
}

.blog-item p{
    padding: 1rem 0;
    font-size: 1.6rem;
    color: var(--textLight);
}

body.dark-mode .blog-item p {
    color: var(--textDark);
}

.blog-item .btn{
    margin-top: 1rem;
}
/*--------------------- 10- Blog Area CSS (End) ---------------------*/



/*--------------------- 11- Contact Area CSS (Start) ---------------------*/

.contact{
    background-image: url("/assets/images/Backgrounds/Light/contact.svg");
    background-size: cover;
    background-position: center 1px;
    background-repeat: no-repeat;
    min-height: 300px;   /* Asegura que el fondo sea visible */
}

body.dark-mode .contact{
    background-image: url("/assets/images/Backgrounds/dark/contactDark.svg");
}

.contact .alert{
    font-size: 2rem;
    color: var(--primaryLight);
    border-radius: 0.5rem;
    padding-left: 1rem;
}

.contact .box-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 2rem;
}

.contact-info{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 42rem;
    flex: 1 1 42rem;
}

.contact-info h3{
    font-size: 3rem;
    color: var(--textLight);
}

body.dark-mode .contact-info h3{
    color: var(--textDark);
}

.contact-info > p{
    font-size: 1.6rem;
    color: var(--textLight);
    padding: 0.5rem 0;
}

body.dark-mode .contact-info > p{
    color: var(--textDark);
}

.contact-info .info-item{
    padding: 1rem 0;
}

.contact-info .info-item .gmail,
.contact-info .info-item .linkedin,
.contact-info .info-item .github{
    text-transform: none;
}

.contact-info .info-item h4{
    font-size: 1.8rem;
    color: var(--textLight);
}

body.dark-mode .contact-info h4{
    color: var(--textDark);
}

.contact-info .info-item .detail{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.contact-info .info-item .detail .fas,
.contact-info .info-item .detail .fab{
    border-radius: 50%;
    color: var(--primaryLight);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.5rem;
}

.contact-info .info-item .detail p{
    font-size: 1.6rem;
    color: var(--textLight);
    line-height: 1.6;
    padding-left: 1rem;
}

body.dark-mode .contact-info .info-item .detail p {
    color: var(--textDark);
}

.contact-form{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 42rem;
    flex: 1 1 42rem;
}

.contact-form .box{
    width: 100%;
    text-transform: none;
    color: var(--textLight);
    font-size: 1.6rem;
    border: 0.1rem solid var(--opacityPlight);
    padding: 1.5rem;
    margin: 0.5rem 0;
    background-color: var(--opacitySLight);
    border-bottom-width: unset;
}

body.dark-mode .contact-form .box {
    color: var(--textDark);
    border: 0.1rem solid var(--opacityPDark);
    background-color: var(--opacitySDark);
    padding: 1.5rem;
    margin: 0.5rem 0;
    border-bottom-width: unset;
}

.contact-form .box:focus{
    border-color: var(--textLight);
}

body.dark-mode .contact-form .box:focus {
    border-color: var(--textDark) ;
}

.contact-form .box::placeholder{
    color: var(--textLight);
}

body.dark-mode .contact-form .box::placeholder {
    color: var(--textDark);
}

.contact-form textarea{
    height: 15rem;
    resize: none;
}

.contact-form .btn{
    margin-top: 1rem;
}

/*--------------------- 11- Contact Area CSS (End) ---------------------*/



/*--------------------- 12- Footer Area CSS (Start) ---------------------*/
footer{
    background-color: var(--primaryLight);
    padding: 2rem 0;
    text-align: center;
}

body.dark-mode footer {
    background-color: var(--primaryDark);
}

footer .social{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 2rem 0;
}

footer .social .fab{
    background-color: var(--textLight);
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    color: var(--backgroundLight);
    font-size: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 0.5rem;
}

footer .social .fab:hover{
    color: var(--textLight);
    background-color: var(--backgroundLight);
}

footer .content p{
    font-size: 2rem;
    color: var(--backgroundLight);
}

footer .content p span{
    color: var(--textLight);
}

/*--------------------- 12- Footer Area CSS (End) ---------------------*/



/*--------------------- 13- Scroll-Top (Start) ---------------------*/
.scroll-top{
    position: fixed;
    bottom: 1rem;
    right:1rem;
    height: 5rem;
    width: 5rem;
    font-size: 3rem;
    font-weight:lighter;
    background: var(--textLight);
    color: var(--backgroundLight);
    border: 0.2rem solid var(--backgroundLight);
    border-radius: 50%;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    z-index: 999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.scroll-top:hover{
    background: var(--backgroundLight);
    color:var(--textLight);
}

/*--------------------- 13- Scroll-Top (End) ---------------------*/

/*--------------------- Portfolio-specific styles ----------------*/




